{% if nav_icon %}
  {% block nav_icon %}
    <div class="{{div_class}}">
      <ul>
        <li class="{{ incon_classes }} selected">
        <a href={{url}}><img src="{{img_src_1}}"></a>
      </li>
      <li class="{{ incon_classes }}">
        <a href={{url}}><img src="{{img_src_2}}"></a>
      </li>
      <li class="{{ incon_classes }}">
        <a href={{url}}><img src="{{img_src_3}}"></a>
      </li>
      <li class="{{ incon_classes }}">
        <a href={{url}}><img src="{{img_src_4}}"></a>
      </li>
      <li class="{{ incon_classes }}">
        <a href={{url}}><img src="{{img_src_5}}"></a>
      </li>
      </ul>
    </div>
  {% endblock %}
{% endif %}

{% if row_buttons %}
  {% block row_buttons %}
    <div class="{{div_classes}}">
      {% include button_small %}
      {% include button_small %}
      {% include button_drop_down %}
    </div>
  {% endblock %}
{% endif %}


{% if row_input_submit %}
  {% block row_input %}
    <div class="{{div_classes}}">
      {% include input_label_none %}
      {% include button_small %}
    </div>
  {% endblock %}
{% endif %}


{% if row_filter %}
  {% block row_filter %}
    <div class="{{div_classes}}">
      {% include form_data_pagination %}
      {% include form_data_select %}
    </div>
  {% endblock %}
{% endif %}

{% if row_filter_simple %}
  {% block row_filter_simple %}
    <div class="{{div_classes}}">
      {% include button_small %}
    </div>
  {% endblock %}
{% endif %}

{% if row_select_two %}
  {% block row_select %}
      <div class="{{div_classes}}">
        {% include select %}
        {% include select %}
      </div>
  {% endblock %}
{% endif %}


{% if row_select_four %}
  {% block row_select_four %}
    <div class="{{container_row}}">
      <div class="{{div_classes}}">
        {% include select %}
        {% include select %}
        {% include select %}
        {% include select %}
      </div>
    </div>
  {% endblock %}
{% endif %}


{% if row_date_range %}
  {% block row_date_range %}
      <div class="{{div_classes}}">
        {% include select %}
        {% include select %}
    </div>
  {% endblock %}
{% endif %}
