<div class="{{classes}}">
  <div class="{{ img_class }}">
    <img src="{{ img }}">
  </div>
  <div class="{{ btn_class }}">
    <a href="#" class="{{link_class}}">{%  include button %}</a>
    <p class="{{p_class}}">{{ list }}</p>
  </div>
</div>
