{% if button_small %}
  {% block button_small %}
  <p class="{{border_classes}}"><a href="{{url}}" class="{{button_classes}}">{{ button_small_text }}</a></p>
  {% endblock %}
{% endif %}

{% if button_large %}
  {% block button_large %}
  <p class="{{border_classes}}"><a href="{{url}}" class="{{button_classes}}">{{ button_large_text }}</a></p>
  {% endblock %}
{% endif %}

{% if button_drop_down %}
  {% block button_drop_down %}
    <a href="{{url}}" class="{{button_classes}}">{{ text }}<div class="{{drop_down_arrow}}"></div></a>
  {% endblock %}
{% endif %}


{% if button_icon %}
  {% block button_icon %}
    <p class="{{border_classes}}"><a href="{{url}}" class="{{button_classes}}"><img src="{{img_src}}" />{{ button_icon_text }}</a></p>
  {% endblock %}
{% endif %}
