<ul class="{{ ul_class }}">
  <li class="{{ menu_class }}"><a href="#">{{ home }}</a></li>
  <li class="{{ menu_class }}"><a href="#">{{ orders }}</a></li>
  <li class="{{ menu_class }}"><a href="#">{{ users }}</a></li>
  <li class="{{ menu_class }}"><a href="#">{{ offices }}</a></li>
  <li class="{{ menu_class }}"><a href="#">{{ applications }}</a></li>
</ul>
